html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.code {
  width: 40vw;
  height: 100vh;
  display: inline-block;
  background: #f4f4f4;
}

.code code {
  text-wrap: wrap;
  text-align: justify;
}

pre {
  background: #f4f4f4;
  border-left: 3px solid #f36d33;
  color: #666;
  font-size: 0.8rem;
  overflow: auto;
  padding: 1em 1.5em;
  word-wrap: break-word;
}


body {
  display: flex;
  flex-direction: row-reverse;
}
